#wrap {
    min-width: 960px;
    height: 100vh;
}

/*** 상단 영역 공통 style ***/
#header {
    width: 960px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}

#logo {
    position: absolute;
    width: 210px;
    top: 50px;
    left: 0px;
}

#lnb {
    position: absolute;
    top: 50px;
    right: 0;
}

#lnb > ul {}

#lnb > ul > li {
    float: left;
    display: block;
    padding-right: 24px;
}

#lnb > ul > li:last-child {
    padding-right: 0;
}

#lnb > ul > li > a {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

#lnb > ul > li > a:hover {
    color: #bedaff
}


#topbg {
    height: 400px;
    background: center no-repeat;
    background-size: cover;
}

#menu > h2 {
    width: 960px;
    margin: 0 auto;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 300px
}


/*** 본문 공통 style ***/

h3 {
    font-size: 42px;
    font-weight: 300;
    line-height: 50px;
    word-spacing: -2px;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
}

p {
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    word-spacing: -2px;
    line-height: 1.8;
}

small {
    display: inline-block;
    font-size: 12px;
    color: #555;
    font-weight: 300;
    word-spacing: -2px;
    line-height: 1.5;
}

/*** top 버튼 ***/
#top {
    margin: 0 auto;
    position: fixed;
    bottom: 110px;
    right: 50px;
    background-color: #0001;
    width: 40px;
    height: 40px;
    border-radius: 50px
}
#top > a {
    display: block;
    text-align: center;
}
#top > a > img  {
    width: 80%;
    position: absolute;
    top: 4px;
    left: 4px;
}


/*** 하단 영역 공통 style ***/

#footer, #index_footer {
    width: 960px;
    height: 80px;
    margin: 0 auto;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

#fnb {
    width: 750px;
    float: left;
}

#fnb > address > small {
    color: #555;
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
}
#bottom {
    padding-top: 10px;
}
